<label for="videoSelect">Elige que video quieres ver</label>
<select name="videoSelect" id="videoSelect" [(ngModel)]="selectedVideo">
  <ng-container *ngFor="let video of socketService.videos">
    <option [value]="video">{{ video }}</option>
  </ng-container>
</select>

<button (click)="sendSelectedVideo()" >Enviar Video</button>

<div *ngIf="socketService.authCode as authCode">
  <p>Codi d'Autenticació: {{ authCode }}</p>
</div>

<div>
  <p>VER VIDEO</p>
  <button (click)="verifySelectedVideo()" >Verificar</button>
</div>

<div [hidden]="pintarVideo()">
  <video width="640" height="360" controls>
    <source src="https://www.youtube.com/watch?v=IIzgHLSK8ao" type="video/mp4">
  </video>
</div>
